.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.search-bar > * {
  margin: 10px;
  width: 100%;
}

input[type="text"] {
  height: 50px;
  font-size: 24px;
  padding: 10px;
}

button {
  height: 50px;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #f3f3f3;
}


.react-select-container {
  width: 100%;
  position: relative;
}

.react-select__control {
  height: 50px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.react-select__menu {
  margin-top: -5px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-top: 2px solid #ccc;
}

.react-select__menu-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
}

.react-select__option {
  background-color: white;
}

.react-select__option--is-selected {
  background-color: #ccc;
}

.react-select__option--is-focused {
  background-color: #f3f3f3;
}
