#header {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.2);
}

a {
    max-width: 200px;
}

#logo {
    width: 150px;
}