.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

.input-contact-form,
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-contact-form:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

body {
    background-color: #f3f3f3;
}